{% extends 'base.html' %}

{% block content %}

<h2>Registro acta de matrimonio</h2>
<p>Ingrese sus datos sobre el matrimonio</p>

<div class="container">
  <form action="/setMatrimonio"  method="post">
    <div class="row">
      <div class="col-25">
        <label for="dpihombre">DPI hombre</label>
      </div>
      <div class="col-75">
        <input type="text" id="dpihombre" name="dpihombre" placeholder="DPI hombre..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="dpimujer">DPI mujer</label>
      </div>
      <div class="col-75">
        <input type="text" id="dpimujer" name="dpimujer" placeholder="DPI mujer..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fecha">Fecha</label>
      </div>
      <div class="col-75">
        <input type="date" id="fecha" name="fecha">
      </div>
    </div>
    
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>


{% endblock %}